/* ===== Start Top Deal Section ===== */
.items-i-had-rented .container {
  display: flex;
  flex-direction: column;
}

.items-i-had-rented .container .filter-bar {
  width: 100%;
  margin-bottom: 40px;
}

.items-i-had-rented .container .filter-bar li {
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: var(--white-color);
  color: var(--main-color);
  font-weight: bold;
  border: 3px solid var(--main-color);
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  cursor: pointer;
  margin-bottom: 10px;
}

.items-i-had-rented .container .filter-bar li.active {
  background-color: var(--main-color);
  color: var(--white-color);
}

.items-i-had-rented .container .filter-bar li:not(.active):hover {
  border-color: var(--secondery-color);
  color: var(--secondery-color);
}

.items-i-had-rented .container .cards .card .img i {
  position: absolute;
  right: 20px;
  top: 20px;
  color: var(--main-color);
  font-size: 24px;
  text-shadow: 5px 5px 0px 0px var(--main-color);
}

.items-i-had-rented .container .empty-items-i-had-rented {
  text-align: center;
  display: none;
}

.items-i-had-rented .container .empty-items-i-had-rented img {
  width: 60%;
}

.items-i-had-rented .container .empty-items-i-had-rented .text {
  text-align: center;
}

.items-i-had-rented .container .empty-items-i-had-rented .text h3{
  color: var(--main-color);
  font-size: 25px;
  margin-bottom: 15px;
}

.items-i-had-rented .container .empty-items-i-had-rented .text p {
  font-size: 24px;
  color: var(--text-color);
}